@import "../global_vars";

.hardware-section {
  .intro-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .banner-image {
    width: 50%;
    height: auto;

    @media (max-width: 767px) {
      width: 90%;
    }
  }

  .descriptionHW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba($color: White, $alpha: 1);
    h2 {
      font-size: calc(2rem + 1.6vw);
      font-weight: bolder;
      background: $white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
